<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

    <link rel="icon" type="image/png" href="{{ static('images/header_ico.png') }}"/>

    <script type="text/javascript" src="/js/wsrpc.js"></script>
    <title>Contact Book</title>
</head>
<body>
    <!-- main - navbar-->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="{{ static('images/header_ico.png') }}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
            Vakkaru Maldives - Contact Book
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                {% if groups == 'admin' %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage Contacts</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" data-toggle="modal" data-target="#ContactNewModal"><i class="fa fa-plus" aria-hidden="true"></i> New Contact</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" data-toggle="modal" data-target="#ImportContactModal"><i class="fa fa-upload" aria-hidden="true"></i> Import Contacts</a>
                            <a class="dropdown-item" onclick="export_contacts();"><i class="fa fa-download" aria-hidden="true"></i> Export Contacts</a>
                        </div>
                    </li>
                {% endif %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" data-toggle="modal" data-target="#ProfileEditModal"><i class="fa fa-cogs" aria-hidden="true"></i> Options</a>
                        {% if groups == 'admin' %}
                            <a class="dropdown-item" data-toggle="modal" data-target="#UserManagementModal"><i class="fa fa-users" aria-hidden="true"></i> User Management</a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" id="ProfileLogoutAnchor" data-logged-user="{{ user }}" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
                    </div>
                </li>

            </ul>
            <form class="form-inline">
                <input id="contact-search-input" class="form-control input-sm" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </nav>

    <div class="container">

        <!--body contents-->
        <div class="tab-content" id="nav-tabContent">
            <!--main address book tab-->
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <table class="table table-hover" id="contacts-table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col"><i class="fa fa-address-card"></i> Name</th>
                            <th scope="col"><i class="fa fa-black-tie" aria-hidden="true"></i> Title</th>
                            <th scope="col"><i class="fa fa-mobile" aria-hidden="true"></i> Contact Number</th>
                            <th scope="col"><i class="fa fa-mobile" aria-hidden="true"></i> Short Code</th>
                            <th scope="col"><i class="fa fa-phone" aria-hidden="true"></i> Telephone Extension</th>
                            <th scope="col"><i class="fa fa-envelope" aria-hidden="true"></i> Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--load from JS-->
                    </tbody>

                </table>

            </div>
            <!--Contact Detailed Modal-->
            <div class="modal fade" id="ContactDetailedModal" tabindex="-1" aria-labelledby="ContactDetailedModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ContactDetailedModalLabel">Contact Name</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card-deck">
                                <div class="card">
                                    <div class="card-header"><i class="fa fa-address-book-o" aria-hidden="true"></i> Phone Numbers</div>
                                    <div class="card-body" id="contacts-phone-card" data-resource-name="">
                                        <!--load from JS-->
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header"><i class="fa fa-envelope-o" aria-hidden="true"></i> Emails</div>
                                    <div class="card-body" id="contacts-email-card">
                                        <!--load from JS-->
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header"><i class="fa fa-university" aria-hidden="true"></i> Organization Details</div>
                                    <div class="card-body" id="contacts-organization-card">
                                        <!--load from JS-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                             {% if groups == 'admin' %}
                                <button id="contact-delete-button" type="button" class="btn btn-danger" data-resource-name="" onclick="delete_contact(this);"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                                <button id="contact-update-button" type="button" class="btn btn-success" onclick="update_contact();"><i class="fa fa-floppy-o" aria-hidden="true"></i> Update</button>
                             {% endif %}
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Contact New Modal-->
            <div class="modal fade" id="ContactNewModal" tabindex="-1" aria-labelledby="ContactNewModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ContactNewModalLabel"><i class="fa fa-address-card-o" aria-hidden="true"></i> New Contact</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card-columns">
                                <div class="card">
                                    <div class="card-header"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Employee Details</div>
                                    <div class="card-body">
                                        <label for="newContactFirstName">First Name</label><small class="text-muted"> (Required)</small>
                                        <input type="text" class="form-control" id="newContactFirstName">


                                        <label for="newContactLastName">Last Name</label><small class="text-muted"> (Required)</small>
                                        <input type="text" class="form-control" id="newContactLastName">
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header"><i class="fa fa-address-book-o" aria-hidden="true"></i> Phone Numbers</div>
                                    <div class="card-body">
                                        <label for="newContactMobile">Mobile</label><small class="text-muted"> (Required)</small>
                                        <input type="tel" class="form-control" id="newContactMobile">

                                        <label for="newContactPager">Pager</label><small class="text-muted"> (Required)</small>
                                        <input type="tel" class="form-control" id="newContactPager">

                                        <label for="newContactTExtension">Telephone Extension</label>
                                        <input type="tel" class="form-control" id="newContactTExtension">
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header"><i class="fa fa-envelope-o" aria-hidden="true"></i> Emails</div>
                                    <div class="card-body">
                                        <label for="newContactWorkMail">Work</label>
                                        <input type="text" class="form-control" id="newContactWorkMail">

                                        <label for="newContactPersonalMail">Personal</label>
                                        <input type="text" class="form-control" id="newContactPersonalMail">
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header"><i class="fa fa-university" aria-hidden="true"></i> Organization Details</div>
                                    <div class="card-body">
                                        <label for="newContactWName">Name</label>
                                        <input type="text" class="form-control" id="newContactWName">

                                        <label for="newContactTitle">Title</label><small class="text-muted"> (Required)</small>
                                        <input type="text" class="form-control" id="newContactTitle">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="contact-new-button" type="button" class="btn btn-primary" onclick="new_contact();" disabled><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Import Contacts Modal-->
            <div class="modal fade" id="ImportContactModal" tabindex="-1" aria-labelledby="ImportContactModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <form id="ImportContactsForm" name="ImportContactsForm" enctype="multipart/form-data" method="post" action="/import_contacts">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ImportContactModalLabel"><i class="fa fa-upload" aria-hidden="true"></i> Import Contacts</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <a href="{{ static('others/template.csv') }}"><small class="form-text text-muted">You can only import 90 contacts per an import batch process. Download the csv template.</small></a>
                                <div class="custom-file">
                                    <input type="file" form="ImportContactsForm" accept=".csv"  class="custom-file-input" id="customFile" name="customFile" required>
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-upload" aria-hidden="true"></i> Import</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--Profile Modal-->
            <div class="modal fade" id="ProfileEditModal" tabindex="-1" aria-labelledby="ProfileEditModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <form>
                            <div class="modal-header">
                                <h5 class="modal-title" id="ProfileEditModalLabel"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Profile ({{ user }})</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                    <div class="form-group">
                                        <label for="currentPasswordInput">Current Password</label>
                                        <input type="password" class="form-control" id="currentPasswordInput" placeholder="Current Password" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="newPasswordInput">New Password</label>
                                        <input type="password" class="form-control" id="newPasswordInput" placeholder="New Password" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmPasswordInput">Confirm Password</label>
                                        <input type="password" class="form-control" id="confirmPasswordInput" placeholder="Confirm Password" required>
                                    </div>

                            </div>
                            <div class="modal-footer">
                                <button id="profile-edit-button" type="button" class="btn btn-primary" onclick="password_update();"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--User Management Modal-->
            <div class="modal fade" id="UserManagementModal" tabindex="-1" aria-labelledby="UserManagementModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="UserManagementModalLabel"><i class="fa fa-users" aria-hidden="true"></i> User Management</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-hover" id="user-list-table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Group</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Load with JS -->
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#NewUserModal"><i class="fa fa-plus-circle" aria-hidden="true"></i> New User</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--New User Modal-->
            <div class="modal fade" id="NewUserModal" tabindex="-1" aria-labelledby="NewUserModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="NewUserModalLabel"><i class="fa fa-plus-circle" aria-hidden="true"></i> New User</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="newUserUsernameInput">Username</label>
                                    <input type="text" class="form-control" id="newUserUsernameInput" placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <label for="newUserPasswordInput">Password</label>
                                    <input type="password" class="form-control" id="newUserPasswordInput" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="newUserGroupSelect" >Permission Group</label>
                                    <select class="form-control" id="newUserGroupSelect">
                                        <option value="admin">admin</option>
                                        <option value="user">user</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button id="add-new-user-button" type="button" class="btn btn-primary" onclick="add_new_user();"><i class="fa fa-plus-circle" aria-hidden="true"></i> Save</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Edit User Modal-->
            <div class="modal fade" id="EditUserModal" data-username="" tabindex="-1" aria-labelledby="EditUserModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="EditUserModalLabel"><i class="fa fa-pencil-square" aria-hidden="true"></i> Edit User</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="newEditPasswordInput">New Password</label>
                                <input type="password" class="form-control" id="newEditPasswordInput" placeholder="New Password">
                            </div>
                            <div class="form-group">
                                <label for="newEditGroupSelect" >New Permission Group</label>
                                <select class="form-control" id="newEditGroupSelect">
                                    <option value="admin">admin</option>
                                    <option value="user">user</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="delete-user-button" type="button" class="btn btn-danger" onclick="delete_user();"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                            <button id="edit-save-user-button" type="button" class="btn btn-success" onclick="edit_save_user();"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer contents-->
        <div class="row justify-content-md-center ">
            <p class="font-weight-light">© 2020 Vakkaru IT. All Rights Reserved</p>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <script src="{{ static('js/csvExport.js') }}"></script>
    <script src="{{ static('js/gcontacts.js') }}"></script>
</body>
</html>